.left-gradient {
    height: 100vh;
    opacity: .9;
    background: linear-gradient(to right, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 35%,rgba(109,0,25,1) 100%);
    display: flex;
    align-items: center;
}

.left-gradient.left-spotted {
    position: relative;
    z-index: 1;
}

.left-gradient-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spottedcard{
    padding-top:50px;
}


.right-gradient-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-gradient.right-spotted {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.right-spotted .card {
    width: 400px;
    height: 465px;
}
.left-gradient.left-spotted .card {
    display: none;
}

.spotted-form .picker__holder {
    background: rgba(0,0,0,0.5);
}
.spotted-form .picker__box {
    border: none;
}
.spotted-form .picker__date-display {
    background-color: #a90329;
}
.spotted-form .picker__weekday-display,
.spotted-form .picker__day--selected, 
.spotted-form .picker__day--selected:hover, 
.spotted-form .picker--focused .picker__day--selected,
.spotted-form .picker__nav--prev:hover, 
.spotted-form .picker__nav--next:hover {
    background-color: rgba(109, 0, 25, .8);
}
.spotted-form .picker__nav--prev:hover:before {
    border-right: 0.75em solid white;
}
.spotted-form .picker__nav--next:hover:before {
    border-left: 0.75em solid white;
}

.spotted-form .picker__day.picker__day--today:not(.picker__day--selected),
.spotted-form .picker__close, 
.spotted-form .picker__today {
    color: #a90329;
}

.spotted-form .input-field label {
    color: rgb(230, 230, 230);
}
.spotted-form textarea.materialize-textarea:focus:not([readonly]) + label,
.spotted-form input[type=text]:focus + label {
    color: white;
    font-weight: bold;
}
.spotted-form input[type=text]:not([readonly]),
.spotted-form textarea.materialize-textarea:not([readonly]),
.spotted-form input[type=text] {
    border-bottom: 1px solid rgb(230, 230, 230);
}
.spotted-form input[type=text]:focus:not([readonly]),
.spotted-form textarea.materialize-textarea:focus:not([readonly])
.spotted-form input[type=text]:focus {
    border-bottom: 2px solid white;
}
.spotted-form input[type=text]:focus:not([readonly]),
.spotted-form textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: 0 1px 0 0 white;
}
@media only screen and (max-width: 600px) {
    .left-gradient.left-spotted .card {
        display: block;
        width: 100%;
    }
    .right-gradient.right-spotted {
        display: none;
    }

    .left-spotted .left-gradient-content {
        overflow-y: scroll;
    }
}