.left-gradient {
    height: 100vh;
    opacity: .9;
    background: linear-gradient(to right, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 35%,rgba(109,0,25,1) 100%);
    display: flex;
    align-items: center;
}

.left-gradient-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spottedcard{
    padding-top:50px;
}


.right-gradient-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-gradient.right-spotted {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.right-spotted .card {
    width: 400px;
    height: 465px;
}
.left-gradient.left-spotted .card {
    display: none;
}

@media only screen and (max-width: 600px) {
    .left-gradient.left-spotted .card {
        display: block;
    }
    .right-gradient.right-spotted {
        display: none;
    }
}