body {
    background-image: url(./milkcartons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body-background-gradient {
    background-color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.7);
    color: rgba(0, 0, 0, 0.7);
}

.login-gradient {
    height: 100vh;
    opacity: .9;
    background: linear-gradient(to right, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 35%,rgba(109,0,25,1) 100%);
}

.login-buttons > button {
    margin: 0 10px;
}

.button{
    color: white;
    background-color: black;
}