.logo {
    padding-top: 31px;
}

.login-buttons > button {
    margin: 0 10px;
    padding-bottom: 10px
}

.login-buttons {
    width: 250px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    display: block;
    margin: 10px;
}