
.card {
    width: 400px;
}

.card-image {
    display: flex;
    padding-top: 12px;
}

.card .card-image img {
    width: auto;
    height: 150px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-header-data {
    flex-grow: 1;
    margin-left: .82rem;
}

.card .card-content {
    padding: 5px;
}

.card-content {
    position: relative;
    border-bottom: 2px solid rgba(109, 0, 25, .8);
    background-color: rgba(109, 0, 25, .8);
    color: white;
}

.card-sightings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    color: rgba(109, 0, 25, .8);
}

.card-sightings .or-seperator .line {
    background: rgba(109, 0, 25, .8);
    height: 2px;
    width: 165px;
}
