.col.right-banner.search-page {
    align-items: center;
}

.login-buttons > button {
    margin: 0 10px;
}

.google-login {
    color: #9e9e9e;
    font-size: 16pt;
    cursor: pointer;
}
.google-login:hover {
    text-decoration: underline;
}

.search-page .carousel {
    height: 100%;
}

.search-page .left-gradient .carousel {
    height: 600px !important;
}

.search-page .carousel .carousel-item {
    width: 400px;
    height: 700px;
}

.search-page .left-gradient .carousel .carousel-item {
    width: 100%;
}

.search-page .carousel .carousel-item {
    display: block;
}

.search-page .carousel .carousel-item img {
    width: auto;
    height: 150px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card-image {
    display: flex;
    padding-top: 12px;
}

.card-header-data {
    flex-grow: 1;
    margin-left: .82rem;
}

.card .card-content {
    padding: 5px;
}

.card-content {
    position: relative;
    border-bottom: 2px solid rgba(109, 0, 25, .8);
    background-color: rgba(109, 0, 25, .8);
    color: white;
}

.card-sightings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px 10px;
    color: rgba(109, 0, 25, .8);
}

.card-sightings .or-seperator .line {
    background: rgba(109, 0, 25, .8);
    height: 2px;
    width: 165px;
}

.search-form .input-field label {
    color: rgb(230, 230, 230);
}
.search-form input[type=text]:focus + label {
    color: white;
    font-weight: bold;
}
.search-form input[type=text] {
    border-bottom: 1px solid rgb(230, 230, 230);
}
.search-form input[type=text]:focus {
    border-bottom: 2px solid white;
}

@media only screen and (max-width: 600px) {
    .search-page .left-gradient {
        display: block;
        overflow-y: scroll;
    }

    .search-page .left-gradient-content {
        height: auto;
    }
}