.col.right-banner.search-page {
    align-items: center;
}

.login-buttons > button {
    margin: 0 10px;
}

.google-login {
    color: #9e9e9e;
    font-size: 16pt;
    cursor: pointer;
}
.google-login:hover {
    text-decoration: underline;
}

.search-page .carousel {
    height: 100%;
}

.search-page .left-gradient .carousel {
    height: 600px !important;
}

.search-page .carousel .carousel-item {
    width: 400px;
    height: 700px;
}

.search-page .left-gradient .carousel .carousel-item {
    width: 100%;
}

.search-page .carousel .carousel-item {
    display: block;
}

.search-page .carousel .carousel-item img {
    width: auto;
    height: 150px;
    margin-left: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.search-form .input-field label {
    color: rgb(230, 230, 230);
}
.search-form input[type=text]:focus + label {
    color: white;
    font-weight: bold;
}
.search-form input[type=text] {
    border-bottom: 1px solid rgb(230, 230, 230);
}
.search-form input[type=text]:focus {
    border-bottom: 2px solid white;
}
.search-form .toggle-search-saved {
    text-align: center;
}
.search-form .show-saved-case-label {
    font-size: 1rem;
    color: #e6e6e6;
}
.search-form .show-saved-cases {
    margin-bottom: 20px;
}

.search-form .switch label input[type=checkbox]:checked+.lever,
.search-form .switch label input[type=checkbox]:checked+.lever:after {
    background-color: green;
}

@media only screen and (max-width: 600px) {
    .search-page .left-gradient {
        display: block;
        overflow-y: scroll;
    }

    .search-page .left-gradient-content {
        height: auto;
    }
}