body{ 
    /* The image used */
    background-image: url(../../components/Views/milkcartons.jpg);
    /* Set a specific height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.section{
    padding-left: 100px;
    padding-right: 100px;
    background-color: lightgray;
}
.button-container{
    padding-block-end: 30px
}
.btn {
    margin: 0 10px;
    background-color:black;
}
