.nav-wrapper{
    background-color:red
}
.brand{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-stretch: wider;
font-size-adjust: inherit;
}
.route{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: black;
    -webkit-text-fill-color: black;
}