nav .nav-wrapper {
    position: static;
}
.nav-wrapper{
    background-color: black;
    z-index: 1;
    box-shadow: 5px 0px 5px black;
}
.brand{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-stretch: wider;
font-size-adjust: inherit;
}
.brand .brand-logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.brand .user-image {
    height: 40px;
    border-radius: 50%;
    padding-left: .75rem;
}
.route{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    color: black;
    -webkit-text-fill-color: black;
}